{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
.maps iframe{
    width: 100%;
    height: 450px;
.contacts {
    font-size: 16px;
    margin: 20px;
}
</style>
<div class="row">
	<div class="col-md-6 maps" >
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2113.21840317075!2d56.24197761503227!3d58.01800178121933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6debd36e369%3A0x1deb70fe19536b18!2z0YPQuy4g0JzQvtC90LDRgdGC0YvRgNGB0LrQsNGPLCAxNSwg0J_QtdGA0LzRjCwg0J_QtdGA0LzRgdC60LjQuSDQutGA0LDQuSwgNjE0MDQ1!5e0!3m2!1sru!2sru!4v1607105773582!5m2!1sru!2sru" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6">
		<div>
			<br>
			<p><b>телефоны:</b> 278-39-27 или 8-912-88-24-24-9</p>
			<p><b>Viber:</b> 8-912-88-24-24-9</p>
			<p><b>Whatsapp:</b> 8-912-88-24-24-9</p>
			<p><b>e-mail:</b> ekaterina2017-2018@mail.ru</p>
			<p><b>Skype:</b> katiusha693</p>
			<p><b>Telegram:</b> @kovaleva_psy</p>
			<br>
			<p><b>Адрес:</b> ул. Монастырская, 15 офис 127</p>
			<p><i>(Кабинет психолога Ковалевой Е.Л.)</i></p>
		</div>
	</div>
</div>
{% endblock %}


