{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
.col-md-6 {
    padding: 10px;
}
.title_name{
	text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 2px;
    color: #008bf0;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'Katherine2.jpg' %}" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-md-6">
			<div class="title_name" align="center">
				Психолог Ковалева Екатерина Львовна
			</div>
			<p align="center">Психологическая помощь и консультирование детей, взрослых, подростков.</p>
			<p align="center">278-39-27 или 8-912-88-24-24-9. Член ассоциации КБТ</p>
			<br>Практикующий психолог: индивидуальное и семейное консультирование:
			<br>- взрослых;
			<br>- подростков;
			<br>- родителей детей до 18 лет.
			<br>Более 2500 проведенных консультаций за 5 лет успешной практики.
			<br>Организую и провожу авторские семинары для родителей.
			<br>Телефон для записи на консультацию: <i>8-912-88-24-24-9</i> или <i>278-39-27</i>
			<br>Член Ассоциации когнитивно-бихевиоральных терапевтов (АКБТ)
			<br>Работаю в направлениях: Когнитивная терапия, Когнитивно-поведенческая терапия (КПТ), Поведенческая психотерапия
		</div>
		<div>
			<video name='demo' controls autoplay width='100%' height='100%'>
			<source src="{% static ' sample.mp4' %}" type="video/mp4"></source>
			</video>
		</div>
	</div>
</div>
{% endblock %}


