{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
	<p><b>Стоимость (очный прием) с 31 августа</b></p>
  	<table class="table">
    	<thead>
		<tr>
			<th>Наименование</th>
			<th>Цена</th>
		</tr>
    </thead>
    <tbody>
		<tr><td>Индивидуальная консультация</td><td>1500 руб.</td></tr>
		<tr><td>Семейная консультация</td><td>2000 руб.</td></tr>
		<tr><td>Родитель + ребенок</td><td>1600 руб.</td></tr>
		<tr><td>Семейная пара</td><td>от 2000 р.</td></tr>
		<tr><td>Онлайн</td><td>3000 руб.</td></tr>
    </tbody>
	</table>
	<br>Длительность консультации 50 мин.
	<br>Длительность онлайн консультации 55 мин
{% endblock %}


