{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p><b>Детско-родительские отношения (дети до 18 лет):</b>
			<p>- эмоциональные и поведенческие проблемы детей до подросткового возраста (агрессия, страхи, воровство, трудности обучения, деструктивное поведение, энурез, энкопрез, непослушание, конфликты, негативизм, ревность и т.д.);
			<p>- проблемы подростков (непонимание с родителями или сверстниками, игровая зависимость, конфликтность)
			<br>
			<p><b>Личная сфера:</b>
			<p>- ОКР (навязчивые мысли, действия)
			<p>- ПТСР (посттравматический синдром): состояние после физического или сексуального насилия, пережитых травмирующих психику событий;
			<p>- РПП (расстройства пищевого поведения: компульсивное переедание, анорексия, булимия);
			<p>- состояние потери, утраты, смерти близкого человека;
			<p>- состояние личного кризиса, поиск себя, своего Я;
			<p>- социальные фобии;
			<p>- заниженная самооценка, неуверенность в себе;
			<p>- апатия, отсутствие интереса к жизни;
			<p>- одиночество и отсутствие счастливых взаимоотношений;
			<p>- депрессии, панические атаки, перфекционизм;
			<p>- тревоги и страхи.
			<br>
			<p><b>Семейная сфера:</b>
			<p>- конфликты в семье, отсутствие взаимопонимания с партнером или родственниками;
			<p>- развод, измена, разрыв отношений;
			<p>- кризис в браке;
			<p>- зависимое и созависимое поведение;
			<p>- трудности и неудачи.
		</div>
	</div>
</div>
{% endblock %}


